body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
#portfolio{
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img{
    width: 30%;
    border-radius: 5px;
    margin: 10px;
}
h3{
    color: #35424a;
}
.menu-highlights li{
    margin: 10px 0;
}
blockquote{
    font-style: italic;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #35424a;
}
.contact a{
    color: #35424a;
    text-decoration: none;
}
footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}